* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body .highScores h1{
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.container {
    width: 50%; 
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
