* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
main {
    width: 50%;
    text-align: center;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

#viewHighscores {
    font-size: 14px;
    font-weight: bold;
    color: rgb(88, 22, 150);
    padding-left: 30px;
    padding-top: 15px;
}

#timer {
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding-right: 30px;
    padding-top: 15px;
}

#question {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#ul {
    list-style: none;
}